{
  "env": {
    "browser": true,
    "es2021": true,
    "mocha": true
  },
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "multiline-ternary": "off",
    "react/prop-types": "off",
    "indent": "off"
  },
  "globals": {
    "React": "writable",
    "JSX": true,
    "Cypress": true,
    "cy": true,
    "expect": true,
    "assert": true
  },
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "fragment": "Fragment",
      "version": "detect"
    },
    "propWrapperFunctions": [
      "forbidExtraProps",
      {
        "property": "freeze",
        "object": "Object"
      }
    ],
    "linkComponents": [
      "Hyperlink"
    ]
  },
  "overrides": [
    {
      "files": [
        "**/test.tsx"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}
